
* {
    box-sizing: border-box;
}
body {
 margin: 0;
 font-family: Arial;
 background-color: white;
 color: black;
}
header {
 background-color: blue;
 color: white;
 padding: 20px 50px;
 display: flex;
 justify-content: space-between;
align-items: center;
}

header h1 {
  margin: 0;
}
nav {
 display: flex;
 gap: 25px;
}

nav a {
 color: white;
 text-decoration: none;
 padding: 10px 15px;
 border-radius: 5px;
}
nav a:hover {
    background-color: white;
    color: blue;
}
.intro {
 text-align: center;
 padding: 30px;
}

.intro h2 {
 color: #123c69;
}
.section-title {
 text-align: center;
 color: #123c69;
 margin-top: 30px;
}

.clubs {
 display: flex;
 justify-content: center;
 gap: 25px;
 padding: 20px;
}
.card {
    width: 300px;
    height: 400px;
 background-color: white;
 margin: 10px;
 padding: 15px;
 border: 2px solid white;
 border-radius: 12px;
 text-align: center;
 box-shadow: 0 4px 10px gray;
transition: 0.3s;
}
.card img {
    width: 100%;
    height: 170px;
 object-fit: cover;
 border-radius: 8px;
}
.card h3 {
    color: blue;
}
.card p {
  line-height: 1.5;
}
.card:hover {
transform: translateY(-10px);
 box-shadow: 0 8px 20px gray;
 border-color: #123c69;
}
.card button {
 background-color: blue;
 color: white;
 border: none;
 padding: 10px 20px;
 border-radius: 5px;
 cursor: pointer;
}
.card button:hover {
    background-color: orange;
}
.gallery {
display: flex;
 justify-content: center;
 gap: 20px;
 padding: 20px;
}
.gallery img {
 width: 250px;
 height: 180px;
 margin: 10px;
 padding: 5px;
 border: 3px solid white;
  border-radius: 10px;
 object-fit: cover;
 box-shadow: 0 4px 10px gray;
 transition: 0.3s;
}
.gallery img:hover {
 transform: scale(1.08);
border-color: blue;
}
footer {
 background-color: blue;
 color: white;
text-align: center;
 padding: 20px;
 margin-top: 30px;
}
footer p {
 margin: 5px;
}